@* @model Assignment2.Models.Student
<table class="table table-bordered">

    @foreach(Student item in Model){
    <tr>
        <td>@item.Name</td>
        <td>@item.Id</td>
    </tr>

	}
</table>
 *@
