﻿<div class="card" style="width:400px">
    <img class="card-img-top" src="/images/@Model.Image" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>
@* <a href="/Student/GetAll">Get All Students</a>
 *@