<div class="card" style="width:400px">
    <img class="card-img-top" src="/css/Image/@Model.Img" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        @* <p class="card-text"> @Model.</p> *@
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>
<h href="/Student/details/10">View Details</h>