
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <center>
        <div class="mt-4 bg-success p-4 w-75 ">
            <h1>Welcome To About Us Page</h1>
            <p>Route Academy</p>
        </div>
    </center>
</section>