
@{
    ViewData["Title"] = "ContactUs";
    Layout = "_Layout";
}



<section >
    <div class="bg-secondary mt-4  pt-3 ">
        <center >
            <h1>Welcome To Contact Us Page</h1>
        </center>
    </div>
</section>