
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<section>
    <div class="bg-primary">
        <center>
            <h1>Welcome To Home Page</h1>
        </center>
    </div>
</section>