
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	
	<link href="~/wwwroot/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/wwwroot/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/wwwroot/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/wwwroot/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	</head>

@* Start Header  *@
<div >
	<center>
		<a href="/Home/Index" class="btn btn-primary">Home</a>
		<a href="/Home/AboutUs" class="btn btn-secondary">About Us</a>
		<a href="/Home/ContactUs" class="btn btn-info">Contact Us</a>
		<a href="/Home/Privacy" class="btn btn-danger">Privacy</a>
	</center>
</div>
@* End Header *@




@* Start Body *@
<div >
	<section>
		<center>
			<a>Welcome To Route Academy</a>
        </center>
	</section>
</div>
@* End Body *@




@* Start Foter  *@
<footer>
	<div>
		<center>
			<p>CopyRight &copy; Route @DateTime.Now.Year</p>
		</center>
	</div>
</footer>

@* End Foter *@